html {
  font-size: 10px;
  font-family: "Roboto", "Open Sans", sans-serif;
}
.hidden_heading {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  left: -9000px;
  top: -9000px;
}
#logo {
  height: 44px;
  width: 44px;
  margin: auto 15px;
  opacity: 1;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(209, 209, 209);
}
.all_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper {
  height: 744px;
  background-image: url(./assets/main_bg.png);
  color: rgba(255, 255, 255, 1);
}

.section_2 {
  background: #ffffff;
  position: relative;
  width: 1600px;
  height: 842px;
}
.section_3 {
  position: relative;
  width: 1600px;
  height: 504px;
  background: #f5f6f7;
}
.uppercase {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.header nav {
  margin-left: 461px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 583px;
  align-items: center;
  padding-top: 25px;
  margin-top: 0px;
  font-style: normal;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation_inactive {
  opacity: 0.8;
}
.navigation_inactive:hover {
  opacity: 1;
  padding-bottom: 1px;
  border-bottom: 1px solid #ffffff;
}
.main_promo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 231px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 4.5px;
  margin: 0px;
  padding-left: 5px;
}
.text_param_14_reg {
  font-size: 14px;
  font-weight: 400;
}
#about {
  font-weight: 500;
  padding-bottom: 1px;
  border-bottom: 1px solid #ffffff;
  opacity: 1;
}
.main_promo_text {
  font-size: 18px;
  width: 504px;
  height: 50px;
  text-align: center;
  line-height: 140%;
  margin: 23px;
}
.main_button {
  padding: 15px 45px;
  width: 184px;
  height: 46px;
  background: #00afdb;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.btn_1 {
  position: absolute;
  left: 707px;
  top: 174px;
  background: #00afdb;
}
.main_button:hover {
  background: #009cc2;
  border: none;
  cursor: pointer;
}
.main_button:active {
  background: #009cc2;
  border: none;
}
.main_button:focus {
  outline: none;
}
.social_nav {
  display: flex;
  justify-content: space-between;
  width: 170px;
  align-items: center;
  bottom: 50px;
  font-style: normal;
  margin-top: 235px;
}
.ico_btn:hover {
  opacity: 0.6;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
}
.rappresent {
  position: absolute;
  width: 370px;
  height: 57px;
  left: 268px;
  top: 270px;
  color: rgba(55, 55, 55, 1);
  line-height: 123%;
}
.rappresent_text {
  position: absolute;
  width: 407px;
  height: 80px;
  left: 268px;
  top: 359px;
  color: #4e4e4e;
  line-height: 145%;
}
.rappresent_img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 923px;
  top: 120px;
}
.rappresent_btn {
  position: absolute;
  left: 268px;
  top: 483px;
}
p {
  line-height: 140%;
}
.our_community_ico {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 396px;
  top: 155px;
}
.our_community {
  position: absolute;
  width: 165px;
  height: 20px;
  left: 337px;
  top: 200px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(55, 55, 55, 1);
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
}
.our_community_text {
  position: absolute;
  width: 298px;
  height: 80px;
  left: 269px;
  top: 237px;
  text-align: center;
  color: rgba(78, 78, 78, 1);
  line-height: 145%;
}
.nav_arrow {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 1247px;
  top: 79px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.nav_arrow a:hover {
  cursor: pointer;
  opacity: 0.5;
}
.our_community_pic1 {
  position: absolute;
  width: auto;
  height: auto;
  left: 706px;
  top: 120px;
}
.our_community_pic2 {
  position: absolute;
  width: auto;
  height: auto;
  left: 1143px;
  top: 120px;
}
.our_community_pic3 {
  position: absolute;
  width: auto;
  height: auto;
  left: 1580px;
  top: 120px;
}
.section_4 {
  position: relative;
  width: 1600px;
  height: 842px;
  background: #ffffff;
}
.implement_img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 269px;
  top: 120px;
}
.implement {
  position: absolute;
  width: 305px;
  height: 28px;
  left: 815px;
  top: 295px;
  letter-spacing: 1px;
  line-height: 28px;
}
.implement_text {
  position: absolute;
  width: 407px;
  height: 60px;
  left: 815px;
  top: 353px;
  font-size: 14px;
  line-height: 145%;
}
.implement_btn {
  position: absolute;
  width: 180px;
  height: 46px;
  left: 815px;
  top: 457px;
}
.section_5 {
  position: relative;
  background-image: url(./assets/contact_us_bg.png);
  width: 1600px;
  height: 524px;
}
.contact {
  position: absolute;
  width: 385px;
  height: 28px;
  letter-spacing: 1px;
  color: white;
  left: 610px;
  top: 175px;
}
.contact_form input {
  position: absolute;
  width: 340px;
  height: 44px;
  left: 597px;
  top: 257px;
  background: #ffffff;
  border: none;
  font-size: 14px;
  padding-left: 25px;
}
.contact_form input:focus {
  outline: none;
}
.contact_btn {
  position: absolute;
  width: 66px;
  height: 46px;
  left: 937px;
  top: 257px;
  background: #00afdb;
  border-radius: 0px;
  display: inline-block;
  width: 66px;
  height: 46px;
  background: #00afdb;
  border: 0;
  outline: 0;
  padding: 0;
  background-image: url(./assets/fa-check.png) no-repeat;
  overflow: hidden;
}
.contact_btn:hover {
  background: #009cc2;
  cursor: pointer;
}
.contact_btn img {
  position: relative;
  align-items: center;
  left: 0px;
}
.download {
  position: relative;
  width: 1600px;
  height: 464px;
  background: #f5f6f7;
}
.download_app {
  position: absolute;
  width: 255px;
  height: 28px;
  left: 676px;
  top: 95px;
  color: #373737;
  letter-spacing: 1px;
}
.download_app_text {
  position: absolute;
  width: 483px;
  height: 40px;
  left: 559px;
  top: 155px;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 145%;
}
.apple_store {
  position: relative;
  width: 188px;
  height: 46px;
  left: 598px;
  top: 238px;
  background: #00afdb;
  color: white;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.apple_store div {
  position: absolute;
  width: 60px;
  height: 46px;
  right: 0px;
  background: #009cc2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apple_store p {
  padding-right: 60px;
}
.apple_store:hover {
  background: #009cc2;
  cursor: pointer;
}
.play_market {
  position: relative;
  width: 188px;
  height: 46px;
  left: 814px;
  top: 192px;
  background: #00afdb;
  color: white;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.play_market div {
  position: absolute;
  width: 60px;
  height: 46px;
  right: 0px;
  background: #009cc2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play_market p {
  padding-right: 60px;
}
.play_market:hover {
  background: #009cc2;
  cursor: pointer;
}
footer {
  position: relative;
  width: auto;
  height: 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}
.footer_nav {
  list-style: none;
  padding-left: 160px;
  padding-bottom: 17px;
}
.footer_nav li {
  display: inline;
  font-weight: 400;
  font-size: 14px;
}
.footer_nav li::after {
  padding: 18px;
  content: "|";
  color: #fff;
  font-weight: 100;
  opacity: 0.5;
}
.footer_nav li:last-child::after {
  display: none;
}
.footer_nav a {
  text-decoration: none;
  color: white;
}
.footer_nav a:hover {
  opacity: 0.5;
}
.copywriting {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-right: 160px;
  padding-bottom: 18px;
}
.footer_logo {
  position: relative;
  bottom: 9px;
  right: 34px;
}
.download a {
  text-decoration: none;
}
